@import url(__container/popup__container.css);
@import url(__list/popup__list.css);
@import url(__link/popup__link.css);
@import url(__image/popup__image.css);
@import url(__container/_sale/popup__container_sale.css);

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  visibility: hidden;
  z-index: 100;
  transition: 0.5s;
}
