@import url(__body/popup__body.css);
@import url(__area/popup__area.css);
@import url(__menu/popup__menu.css);

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
  /* плавное открытие и закрытие popup */
  z-index: 105;
}

.popup:target {
  /* открывается popup при клике по ссылке */
  opacity: 1;
  visibility: visible;
}

/*  когда нажимается ссылка, возвращается исходное положение popup (плавно выезжает сверху и проявляется)     */

.popup:target .popup__body {
  transform: translate(0px, 0px);
  /*transform: perspective(600px) translate(0px, 0px) rotatex(0);/* сложное появление окна на css */
  opacity: 1;
}

.popup__close {
  padding: 10px 30px;
}