.popup__body {
  max-width: min(45vw, 200px);
  margin-top: max(52px, min(52px + calc((100vw - 320px) / 22.4), 72px));
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 1);
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(-100%, 0px);
}
