.work-place__info {
  width: min(60vw, 400px);
  margin: 0 auto;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  padding: 16px 20px;
  border-radius: 15px;
  text-align: center;
  z-index: 2;
}

@media only screen and (max-width: 430px) {
  .work-place__info {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    padding: 8px 10px;
    border-radius: 10px;
  }
}
