.header__nav {
  max-width: 1280px;
  width: 92%;
  height: max(50px, min(50px + calc((100vw - 320px) / 22.4), 70px));
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
