.popup__link_sale {
  color: #fff;
  font-size: min(16px, 3vw);
  position: absolute;
  bottom: max(-60px, -15vw);
  right: 50%;
  transform: translate(50%, 0);
  padding: 10px 15px;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  transition: 0.8s;
}


.popup__link_sale:hover {
  box-shadow: none;
}
