@import url(__item/feedback__item.css);
@import url(__img/feedback__img.css);
@import url(__text/feedback__text.css);

.feedback {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: max(30px, min(calc((100vw - 320px) / 22.4), 50px));
}
