.button__uslugi {
  align-items: center;
  text-align: center;
  color: black;
  text-decoration: none;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
  transition: 0.8s;
}

.button__uslugi:hover {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 767px) {
  .button__uslugi {
    margin-top: 5%;
  }
}