.popup-sale__title {
  font-size: max(30px, min(30px + calc((100vw - 320px) / 22.4), 50px));
  font-weight: 500;
  line-height: 1;
  color: #fff;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  margin: 0;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
